<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>Update Blog</legend>
    <form th:action="@{/all/addBlog}" th:object="${blog}" method="post">

        <table>
            <tr>

                <td><input type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <td><label>auThor</label></td>
                <td><input type="text" th:field="*{auThor}"></td>
            </tr>
            <tr>
                <td><label>TilTle</label></td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td><label>Content</label></td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
            <tr>
                <td><label>IMG</label></td>
                <td><input type="text" th:field="*{img}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="add"></td>
            </tr>

        </table>
    </form>

</fieldset>

</body>
</html>