<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<body>
<a th:href="@{/all/addBlog}">Add the Blog</a>
<form class="input-group mb-3" th:action="@{/all/find}">
    <input type="text" th:name="nameBlog">
    <input type="submit" class="btn btn-danger" value="TimKiem">
</form>
<table class="table table-success table-striped table-hover" >
    <tr>
        <th>Id</th>
        <th>AuThor</th>
        <th>Title</th>
        <th>Content</th>
        <th>Img</th>
        <th>Date</th>
        <th>Category</th>
    </tr>
    <tr th:each="s,loop:${list}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.auThor}"></td>
        <td th:text="${s.title}"></td>
        <td th:text="${s.content}"></td>
        <td th:text="${s.img}"></td>
        <td th:text="${s.date}"></td>
        <td th:text="${s.getCategory().name}"></td>

    </tr>


</table>
<div class="text-center" th:unless="${list.isEmpty()}">
    <a th:href="@{/all/find(nameBlog=${nameBlog},page=${list.number -1})}" th:if="${list.hasPrevious()}">Prev</a>
<span th:text="${list.number +1}"></span> / <span th:text="${list.totalPages}"></span>
    <a th:href="@{/all/find(nameBlog=${nameBlog},page=${list.number +1})}" th:if="${list.hasNext()}">Next</a>
</div>
<a th:href="@{/all/showList}">Back to the Menu</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
